<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script>
      const request = $.ajax({
        url: "https://monitoring-api.rigor.com/v2/checks/real_browsers/96274/performance_kpis/data?range=last_12_hours&metrics[]=image_files",
        method: "get",
        xhrFields: {
          withCredentials: true
        },
        headers: {
          "accept": "application/json",
          "api-key": "DPFFv7SKf_uXpl8Mz717",
        },
      });

      request.done(function( msg ) {
        console.log(msg)
      });

      request.fail(function( jqXHR, textStatus ) {
        console.log("Request failed: " + textStatus)
      });


      // var url = new URL('https://monitoring-api.rigor.com/v2/checks/real_browsers/96274/performance_kpis/data');
      // var query_params = { range: 'last_12_hours', 'metrics[]': 'image_files' };
      // Object.keys(query_params).forEach(key => url.searchParams.append(key, query_params[key]))
      // fetch(url, { headers: { 'API-KEY': 'DPFFv7SKf_uXpl8Mz717' } }).then(console.log)

    </script>
    <style>
      .charts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
      .chart-wrap {
        width: calc(100%);
        margin-bottom: 20px;
      }
      .chart-wrap--full {
        width: 100%;
      }
      .chart-header {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
      }
      .s-charts {

      }
      .s-charts.active {
        outline: 0;
        background: #000;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="ad54"></div>
    <div id="app">
      <div class="row">
        <div class="col-md-4">
          <label for="dashboardId">Time range</label>
          <input type="text" class="form-control" name="dates">
        </div>
        <div class="col-md-4">
          <label for="dashboardId">Rigor check id</label>
          <input type="text" class="form-control" id="dashboardId" placeholder="96274" value="" required="">
        </div>
      </div>
      <div class="btn-group" style="margin: 20px 0">
        <button
          type="button"
          class="s-charts btn"
          data-toggle="collapse"
          data-target="#speedIndexWrapper"
          data-name="speedIndex"
        >
          Speed index
        </button>
        <button
          type="button"
          class="s-charts btn"
          data-toggle="collapse"
          data-target="#avgPageSizeWrapper"
          data-name="avgPageSize"
        >
          Average Page Size
        </button>
        <button
                type="button"
                class="s-charts btn"
                data-toggle="collapse"
                data-target="#renderTimeWrapper"
                data-name="renderTime"
        >
          Render time
        </button>
        <button
                type="button"
                class="s-charts btn"
                data-toggle="collapse"
                data-target="#bundleSizeWrapper"
                data-name="bundleSize"
        >
          Bundle size
        </button>
      </div>
      <div class="collapse" id="speedIndexWrapper">
        <h3>Speed index</h3>
        <div class="card card-body charts" id="speedIndex"></div>
      </div>
      <div class="collapse" id="avgPageSizeWrapper">
        <h3>Average Page Size</h3>
        <div class="card card-body charts" id="avgPageSize"></div>
      </div>
      <div class="collapse" id="renderTimeWrapper">
        <h3>Render time</h3>
        <div class="card card-body charts" id="renderTime"></div>
      </div>
      <div class="collapse" id="bundleSizeWrapper">
        <h3>Bundle size</h3>
        <div class="card card-body charts" id="bundleSize"></div>
      </div>
    </div>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
